@import url("https://fonts.googleapis.com/css?family=Exo|Roboto:100,200,300,400,500");
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
/*-----------------------------------------Colors*/
.jumbotron {
    background-attachment: fixed;
    background-image: url("../images/white-and-blue-abstract-painting-3591557.jpg");
    background-size: cover;
    margin-bottom: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    color: #E0FFF8;
}

.bg-color-three-reasons {
    background-color: #ffffff;
}

.bg-color-personal-info {
    background-color: #f4f4f4;
}

.bg-color-skills {
    background-color: #ffffff;
}

.bg-color-work-history {
    background-color: #9b59b6;
}

.bg-color-contact {
    background-color: #ffffff;
}

/*-----------------------------------------Special Paddings/Margins/Text*/

h1,
h2,
h3,
h4 {
    margin:0;
    color: black;
}

.uppercase{
    text-transform:uppercase;
}

.general-sub{
    font-family:"Exo", sans-serif;
    font-weight:300;
    color: #fafafa;
}

.inline-block{
    float:left;
    clear:both;
}

.section-column{
    padding:30px;
    float:none;
    display: table-cell;
    color: #000000;
    height:800px;
}

.row-table{
    display: table;
}

.history-heading,
.section-heading{
    font-family: "Exo", sans-serif;
    font-weight:300;
    margin-top: 25px;
    height: 50px;
}

/*----------NAVBAR---------*/

.navbar {
    background: none;
    border-color: transparent;
    letter-spacing: 7px;
    text-transform: uppercase;
}

.navbar .navbar-collapse {
    text-align: right;
    border-top: 1px solid transparent;
    overflow-x: hidden;
}

.navbar-nav li a {
    padding: 20px 25px 15px 25px;
    color: transparent;
    
}


.language {
    display: inline-block;
    padding-right: 20px;
    line-height: 44px;
}

.language:hover {
    color: #564F6F!important;
    text-decoration: none;
}

a {
    background-color: #00000000;
    color: #888888;
    font-size: 1.12em;
    padding-left: 10px;
    padding-right: 10px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.navbar-default .navbar-nav li a:hover {
    color: #564F6F;
}

.navbar-right {
    float: right!important;
}

/*-----------------------------------------Heading*/

.container-top {
    padding-left: 12px;
    text-align: center;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/IMG_0239.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #ffffff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #ffffff;
}

#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 120px;
}

/*````````````````````````````````````````````Body*/

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    background-color: #525252;
    color: #555555;
}

.left-block {
    margin: 5px;
}

.three-reasons-icon{
    font-size: 26px;
    color: #e67e22;
}

.three-reasons-heading{
    margin-bottom: 15px;
}

/*--------------------------------------------Personal Info*/
.personal-info {
    height:100vh;
}

.personal-info-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
}

.personal-info-item .key,
.personal-info-item .value {
    padding-right: 8px;
}

.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
}

.personal-info-item .key {
    display: inline-block;
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}

.personal-info-item .key p {
    font-weight: 700;
}

.personal-info-item .value {
    display: inline-block;
    position: relative;
    width: 60%;
}

/*--------------------------------------------Hover.css*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

/*-----------------------------------------Footer*/

footer{
    background-color: #525252;
    color:#fafafa;
    min-height: 120px;
    margin:0;
}

footer .cv-pdf i{
    color:#fafafa;
    text-align: center;
    font-size: 18px;
    padding-left: 5px;
}

footer .cv-pdf i:hover {
    color:#e84610;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links{
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size:13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover{
    background:#e84610;
}

.row-footer-details{
    margin:20px;
}

/*------------------------------------------Skills*/
.progress{
    position:relative;
    height:25px;
}

.progress-type{
    position:absolute;
    left: 0px;
    font-weight: 400;
    padding:3px 30px 2px 10px;
    color: #fafafa;
    background-color:rgba(25,25,25,0.2);
}

.progress-section{
    margin: 40px 20px;
    position: relative;
    height: 25px;
}

/*--------------------------------------------Contact*/
.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}


.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #e84610;
    color: #fafafa;
}


/*--------------------------------------------Media Queries*/

@media(min-width: 992px) {
    .section-column {
        padding: 0 30px 30pc;
        float: none;
        display: table-cell;
    }
    
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}

@media (max-width: 5000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
}